.column-common, .column-quadra {
  box-shadow: 0 0 10px #555;
  display: inline-block;
  vertical-align: top;
  margin: 1%;
  font-size: 16px;
  color: rgb(103, 99, 99);
}

.wrap {
  padding: 0 5%;
}

.container {
  margin-left: 5%;
  padding: 0;
}

.logotype {
  width: 100px;
  margin: 0;
  padding: 0;
}

.logo-circle {
  width: 70%;
  margin-right: 10px;
}

.logotype_add {
  margin-right: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #204fb1;
  font-size: large;
}

.logotype_hr {
  border: 5px solid #ffc90e;
  border-radius: 2px;
  margin: 5px 0;
  opacity: 1;
}

ul.navbar-nav {
  width: 100%;
  font-size: 0;
  margin-right: 0;
  display: flex;
}

.nav-item {
  height: 30px;
  padding: 0 3%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #e8ebf1;
}

.nav-item:hover {
  height: 30px;
  padding: 0 3%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
}

.icon-menu {
  width: 15%;
}

.icon-menu::before {
  content: url(img/language.png);
  width: 10px;
  height: 10px;
}

.nav-link {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
}

.nav-item:hover .nav-link {
  color: #2aacc8;
}

.nav-item:after {
  width: 0;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: "";
  background-color: #204fb1;
}

li.nav-item:active .dropdown-menu {
  display: block;
}

.nav-item:hover:after,
.nav-item:focus:after {
  width: 100%;
}

.dropdown-menu {
  width: 180%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown-li {
  height: 40px;
  padding: 2px 0;
  background-color: white;
}

.dropdown-menu::after {
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #204fb1;
}

.dropdown-item {
  position: relative;
  right: 0;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding-left: 10%;
}

.li:hover {
  color: #204fb1;
}

a {
  text-decoration: none;
}

.slider {
  margin: 10px 5%;
  padding: 10px 0;
}

.contain {
  margin: 5%;
}
.contain .row {
  display: flex;
  justify-content: space-between;
}
.contain .row .col-sm-12 section {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  border-bottom: #204fb1;
}
.contain .row .col-sm-12 section .product-img {
  width: 100%;
  height: 17rem;
  border-radius: 10px 10px 0 0;
}
.contain .row .col-sm-12 section .context {
  padding: 60px 30px 50px 30px;
}
.contain .row .col-sm-12 section .context .heading {
  margin-bottom: 30px;
}
.contain .row .col-sm-12 section .context .heading h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
  color: #204fb1;
}
.contain .row .col-sm-12 section .context .heading p {
  color: #204fb1;
  font-size: 1.2rem;
  line-height: 2rem;
}
.contain .row .col-sm-12 section .context p {
  font-size: 1.2rem;
  color: #204fb1;
  line-height: 2rem;
}

.quality {
  height: 300px;
  background-color: #555;
}

.naccs {
  position: relative;
  margin: 5% 0;
}
.naccs .grid {
  display: flex;
  list-style: none;
}
.naccs .grid .gc {
  display: inline-block;
  box-sizing: border-box;
}
.naccs .grid .gc .menu div {
  position: relative;
  margin: 10px 0;
  padding: 15px 20px 15px 40px;
  font-weight: 700;
  color: #303F9F;
  background: #3F51B5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  vertical-align: middle;
  border-radius: 0 20px 20px 0;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.naccs .grid .gc .menu div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.naccs .grid .gc .menu div span.light {
  position: absolute;
  top: 40%;
  left: 8%;
  height: 10px;
  width: 10px;
  background-color: #303F9F;
  border-radius: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.naccs .grid .gc .menu div span.tab_name {
  font-size: 24px;
  line-height: 30px;
}
.naccs .grid .gc .menu div.active {
  padding: 15px;
  color: #FBC02D;
}
.naccs .grid .gc .menu div.active span.light {
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  border-radius: 0;
  background-color: #FBC02D;
}
.naccs .grid .tabs {
  width: 33.33333%;
}
.naccs .grid .article {
  width: 66.66666%;
  padding: 0 1vw 0 3vw;
}
.naccs .grid .article ul.nacc {
  position: relative;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.naccs .grid .article ul.nacc li {
  position: absolute;
  list-style: none;
  opacity: 0;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.naccs .grid .article ul.nacc li p {
  margin: 0;
  font-size: 17.6px;
  color: white;
}
.naccs .grid .article ul.nacc li.active {
  z-index: 2;
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0.3s;
}

.column-quadra {
  width: 23%;
  padding: 3vw 0;
  background: rgb(103, 99, 99);
}
.column-quadra .footerBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-quadra .footerBlock .link {
  position: relative;
  list-style: none;
  cursor: pointer;
}
.column-quadra .footerBlock .link a {
  text-decoration: none;
}
.column-quadra .footerBlock .link a .fa {
  font-size: 7vw;
  color: #222;
}
.column-quadra .footerBlock .link::before {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 0;
  font-family: fontAwesome;
  font-size: 7vw;
  transition: 0.5s ease-in-out;
}
.column-quadra .footerBlock .link:hover::before {
  height: 100%;
}
.column-quadra .footerBlock .twitter::before {
  content: "\f099";
  color: #1da1f2;
  border-bottom: 4px solid #1da1f2;
}
.column-quadra .footerBlock .whatsApp::before {
  content: "\f232";
  color: #25d366;
  border-bottom: 4px solid #25d366;
}
.column-quadra .footerBlock .youTube::before {
  content: "\f16a";
  color: #ff0000;
  border-bottom: 4px solid #ff0000;
}
.column-quadra .footerBlock .footerText {
  font-size: 1.5vmin;
  line-height: 7vw;
  color: white;
}/*# sourceMappingURL=style.css.map */